@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root html body{
    scroll-behavior: smooth !important;
    scroll-snap-type: y mandatory !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {
    0%, 100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce-custom {
    animation: bounce 1s infinite;
}
